<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="sidebar"
     class="w-full shrink-0 border-b border-slate-200 bg-white p-4 md:h-screen md:w-60 md:border-b-0 md:border-r md:p-6">
    <div class="mb-6 flex items-center gap-2 px-1">
        <span th:replace="~{backoffice/fragments/icons :: bookOpen('h-6 w-6 text-indigo-600')}"></span>
        <span class="font-semibold tracking-tight text-slate-900">Thierry Lacassin</span>
    </div>
    <ul class="flex flex-wrap gap-1 md:flex-col">
        <li>
            <a th:href="@{/backoffice/univers}" class="nav-lien">
                <span th:replace="~{backoffice/fragments/icons :: globeAlt('h-5 w-5')}"></span>
                Univers
            </a>
        </li>
        <li>
            <a th:href="@{/backoffice/collections}" class="nav-lien">
                <span th:replace="~{backoffice/fragments/icons :: rectangleStack('h-5 w-5')}"></span>
                Collections
            </a>
        </li>
        <li>
            <a th:href="@{/backoffice/livres}" class="nav-lien">
                <span th:replace="~{backoffice/fragments/icons :: bookOpen('h-5 w-5')}"></span>
                Livres
            </a>
        </li>
        <li>
            <a th:href="@{/backoffice/abonnes}" class="nav-lien">
                <span th:replace="~{backoffice/fragments/icons :: envelope('h-5 w-5')}"></span>
                Abonnés
            </a>
        </li>
        <li>
            <a th:href="@{/backoffice/comptes}" class="nav-lien">
                <span th:replace="~{backoffice/fragments/icons :: users('h-5 w-5')}"></span>
                Comptes
            </a>
        </li>
    </ul>
</nav>
</body>
</html>
